<div class="detail-container">

    <mat-card class="detail-card">
        <mat-card-header>
            <mat-card-title>Apfelbaum im Obst-Gen-Garten Bad Schönborn</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/img/apple-tree.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>Sorte: Elstar</p>
            <p>Pflanzjahr: 2000</p>
            <p>Vitalität: gesund</p>
            <p>Baumhöhe: 5,43m</p>
            <p>Kronendurchmesser: 1.5m</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Bearbeiten</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="detail-card">
        <mat-card-header>
            <mat-card-title>Einträge am schwarzen Brett</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Eintrag hinzufügen</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="detail-card">
        <mat-card-header>
            <mat-card-title>Pflegehistorie</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Eintrag hinzufügen</button>
        </mat-card-actions>
    </mat-card>

</div>