.container {
    /* height: 100%; */
    flex-grow: 2;
}

/* router-outlet {
    height: 100%;
    display: block;
} */

app-leaflet-map {
    display: block;
    /* height: 100%; */
}

mat-toolbar {
    min-height: 64px;
}